@using Microsoft.AspNetCore.Identity
@using someOnlineStore.Data.Static
@model IEnumerable<User>;
@inject UserManager<User> UserManager;

<div>
    @foreach (var user  in Model)
    {
    <div class="col-md-8 offset-2 mb-2">
        <div class="card">
            <div class="row m-4">
                <div class="col-md-2">
                    <label>@user.UserName</label>
                </div>
                <div class="col-md-4 m-1">
                    <label>@user.Email</label>
                </div>
                <div class="col-md-auto ms-1">
                    <a class="btn btn-danger" asp-controller="Admin" asp-action="Details" asp-route-id="@user.Id">User Details</a>
                </div>
                <div class="col-md-auto ms-1">
                @if (!await UserManager.IsInRoleAsync(user, UserRoles.Admin))
                {
                    <button class="btn btn-danger" onclick="makeAdmin(@($"\"{user.Id}\""))">Make Admin</button>
                } else
                {
                    <button class="btn btn-primary" onclick="removeAdmin(@($"\"{user.Id}\""))">Remove Admin</button>
                }
                </div>

            </div>
        </div>
    </div>
    }
</div>